@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');

.carousel {
    background: black;
}

.carousel-item {
    height: 100vh;
}

/* .hr{
    color: solid greenyellow;
} */

.carousel-item img {
    height: 70%;
    width: 50%;
    vertical-align: middle;
    border-style: none;
    top: 24%;
    position: absolute;
    left: calc(25%)
}

.title {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    max-width: 350px;
    font-size: 33px;
}

/* .carousel-caption {
    position: absolute;
    top: calc(46%);
    right: 25%;
    text-align: left;
} */

.carousel-caption {
    position: absolute;
    top: calc(46%);
    right: 25%;
    bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel-p {
    position: absolute;
    text-align: right;
    max-width: 250px;
    color: white;
    top: calc(59% - -10px);
    left: calc(59%);
    font-family: 'Josefin Slab', serif;
}

/* .carousel-control-prev, .carousel-control-next {
    width: 35px;
    height: 35px;
    background-color: #404040;
    border-radius: 50%;
    top: calc(50%);
} */

/* .carousel-control-prev {
    left: 5%;
}

.carousel-control-next {
    right: 5%;
} */

#myCarousel-indicators>li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #404040
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    top: calc(50% - -10px);
    left: calc(65%);
    list-style: none;
}

.btn-primary {
    border-radius: 30px;
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-primary:hover {
    color: red;
    background-color: white;
    border-color: white;
}